html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

@font-face { font-family: "Lato Black"; src: url("fonts/lato-black.eot"); src: url("fonts/lato-black.eot?#iefix") format("embedded-opentype"), url("fonts/lato-black.woff2") format("woff2"), url("fonts/lato-black.woff") format("woff"), url("fonts/lato-black.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Lato Bold"; src: url("fonts/lato-bold.eot"); src: url("fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("fonts/lato-bold.woff2") format("woff2"), url("fonts/lato-bold.woff") format("woff"), url("fonts/lato-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Lato Regular"; src: url("fonts/lato-regular.eot"); src: url("fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lato-regular.woff2") format("woff2"), url("fonts/lato-regular.woff") format("woff"), url("fonts/lato-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6, strong { font-weight: normal; }

a { text-decoration: none; }

.heading { font-family: "Lato Black", Arial, sans-serif; display: block; font-size: 34px; color: #333333; }

h2 { font-size: 38px; color: white; font-family: "Lato Black", Arial, sans-serif; line-height: 1.25; }
@media only screen and (max-width: 980px) { h2 { font-size: 60px; line-height: 70px; } }
@media only screen and (max-width: 600px) { h2 { font-size: 38px; line-height: 1.25; } }

h4 { font-family: "Lato Bold", Arial, sans-serif; font-size: 16px; line-height: 20px; color: #3d4243; }
@media only screen and (max-width: 980px) { h4 { font-size: 24px; line-height: 34px; } }
@media only screen and (max-width: 600px) { h4 { font-size: 16px; line-height: 20px; } }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.out { width: 100%; min-width: 320px; margin: 0 auto; padding: 70px 0 0 0; }
@media only screen and (max-width: 980px) { .out { padding: 0; } }

.header { padding: 22px 30px 22px; *zoom: 1; position: fixed; top: 0; left: 0; right: 0; background: white; z-index: 50; height: 70px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 980px) { .header { text-align: center; padding: 27px 30px; height: 80px; position: relative; } }

.logo { display: inline-block; }

.nav { float: right; font-size: 0px; }
@media only screen and (max-width: 980px) { .nav { display: none; } }
.nav li { display: inline-block; padding: 0 0 0 45px; }
.nav a { display: block; font-size: 14px; font-family: "Lato Bold", Arial, sans-serif; letter-spacing: 0.1em; color: #222020; position: relative; text-transform: uppercase; padding: 0 0 7px 0; }
.nav a:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 2px; background: #4dbf57; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; -moz-transition: visibility 0.3s, opacity 0.3s; -o-transition: visibility 0.3s, opacity 0.3s; -webkit-transition: visibility 0.3s, opacity 0.3s; transition: visibility 0.3s, opacity 0.3s; }
.nav a.is-active:before { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; visibility: visible; }

.container { *zoom: 1; }
.container:after { content: " "; display: table; clear: both; }

.sidebar { width: 100%; max-width: 400px; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #ececec; padding-top: 5px; }
@media only screen and (max-width: 980px) { .sidebar { max-width: 100%; float: none; border-top: none; padding: 10px 0; } }
@media only screen and (max-width: 600px) { .sidebar { padding: 5px 0; } }

.box { border-bottom: 1px solid #ececec; padding: 15px 20px 15px 30px; }
@media only screen and (max-width: 980px) { .box { padding: 62px 40px 20px; } }
@media only screen and (max-width: 600px) { .box { padding: 15px 20px 15px 30px; } }
.box__link { font-family: "Lato Bold", Arial, sans-serif; font-size: 18px; line-height: 20px; color: #4dbf57; display: block; width: 100%; text-transform: uppercase; position: relative; margin-bottom: 20px; -moz-transition: color 0.2s; -o-transition: color 0.2s; -webkit-transition: color 0.2s; transition: color 0.2s; }
.box__link:before { content: ""; position: absolute; top: 0; right: 0; background: url('../img/icons-s1569723651.png') 0 0 no-repeat; width: 18px; height: 18px; }
@media only screen and (max-width: 980px) { .box__link:before { background: url('../img/icons-s1569723651.png') 0 -28px no-repeat; width: 36px; height: 36px; } }
@media only screen and (max-width: 600px) { .box__link:before { background: url('../img/icons-s1569723651.png') 0 0 no-repeat; width: 18px; height: 18px; } }
@media only screen and (max-width: 980px) { .box__link { font-size: 28px; line-height: 39px; } }
@media only screen and (max-width: 600px) { .box__link { font-size: 18px; line-height: 20px; } }
.box__hide { display: none; }
.box p, .box ul, .box ol { font-family: "Lato Regular", Arial, sans-serif; font-size: 14px; color: #3d4243; line-height: 20px; margin-bottom: 20px; }
@media only screen and (max-width: 980px) { .box p, .box ul, .box ol { font-size: 20px; line-height: 34px; margin-bottom: 10px; } }
@media only screen and (max-width: 600px) { .box p, .box ul, .box ol { font-size: 14px; line-height: 20px; margin-bottom: 20px; } }
.box li { position: relative; padding: 0 0 0 14px; }
@media only screen and (max-width: 980px) { .box li { padding: 0 0 0 25px; } }
@media only screen and (max-width: 600px) { .box li { padding: 0 0 0 14px; } }
.box li:before { content: ""; position: absolute; top: 7px; left: 0; width: 5px; height: 5px; background-color: #333333; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); opacity: 0.3; }
@media only screen and (max-width: 980px) { .box li:before { width: 8px; height: 8px; top: 13px; } }
@media only screen and (max-width: 600px) { .box li:before { top: 7px; width: 5px; height: 5px; } }
.box h4 { margin-bottom: 20px; }
@media only screen and (max-width: 980px) { .box h4 { padding: 23px 0 0 0; margin-bottom: 2px; } }
@media only screen and (max-width: 600px) { .box h4 { margin-bottom: 20px; padding: 0; } }
.box__bottom { text-align: center; font-size: 0; text-align: right; padding: 10px 0 15px 0; }
.box__bottom:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 980px) { .box__bottom { padding: 44px 0 40px 0; } }
@media only screen and (max-width: 600px) { .box__bottom { padding: 10px 0 15px 0; } }
.box__bottom .btn-apply { margin-left: 27px; }
@media only screen and (max-width: 980px) { .box__bottom .btn-apply { margin-left: 58px; } }
@media only screen and (max-width: 600px) { .box__bottom .btn-apply { margin-left: 27px; } }
.box__bottom .share, .box__bottom .btn-apply { vertical-align: middle; }
.box.is-active .box__link { color: #3d4243; }
.box.is-active .box__link:before { background: url('../img/icons-s1569723651.png') 0 -74px no-repeat; width: 18px; height: 18px; }
@media only screen and (max-width: 980px) { .box.is-active .box__link:before { background: url('../img/icons-s1569723651.png') 0 -102px no-repeat; width: 36px; height: 36px; } }
@media only screen and (max-width: 600px) { .box.is-active .box__link:before { background: url('../img/icons-s1569723651.png') 0 -74px no-repeat; width: 18px; height: 18px; } }
.box_heading { display: none; }

.share { color: #1d7cca; font-family: "Lato Regular", Arial, sans-serif; font-size: 18px; display: inline-block; }
@media only screen and (max-width: 980px) { .share { font-size: 30px; } }
@media only screen and (max-width: 600px) { .share { font-size: 18px; } }
.share:hover { text-decoration: underline; }

.btn-apply { padding: 12px 28px 12px 28px; background-color: #4dbf57; line-height: 1; font-size: 18px; font-family: "Lato Bold", Arial, sans-serif; color: white; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; -moz-transition: background 0.3s; -o-transition: background 0.3s; -webkit-transition: background 0.3s; transition: background 0.3s; }
.btn-apply:hover { background: #60c669; }
.btn-apply:active { background: #40b24a; }
@media only screen and (max-width: 980px) { .btn-apply { font-size: 30px; padding: 21px 90px; } }
@media only screen and (max-width: 600px) { .btn-apply { font-size: 18px; padding: 12px 28px; } }

.content { overflow: hidden; }

.info p, .info h3 { font-size: 18px; font-family: "Lato Regular", Arial, sans-serif; line-height: 26px; color: white; margin-bottom: 25px; width: 100%; }
@media only screen and (max-width: 980px) { .info p, .info h3 { font-size: 28px; line-height: 42px; width: 100%; margin-bottom: 40px; } }
@media only screen and (max-width: 600px) { .info p, .info h3 { font-size: 18px; line-height: 26px; margin-bottom: 25px; } }
@media only screen and (max-width: 980px) { .info h3 { font-size: 32px; } }
@media only screen and (max-width: 600px) { .info h3 { font-size: 18px; line-height: 26px; } }
.info h2 { margin-bottom: 20px; }
@media only screen and (max-width: 980px) { .info h2 { margin-bottom: 30px; } }
@media only screen and (max-width: 600px) { .info h2 { margin-bottom: 20px; } }
.info__inner { padding: 70px 100px; }
@media only screen and (max-width: 980px) { .info__inner { padding: 57px 40px 30px; } }
@media only screen and (max-width: 600px) { .info__inner { padding: 47px 30px 20px; } }
.info .list { width: 80%; }
@media only screen and (max-width: 980px) { .info .list { width: 100%; } }

.info { background-color: #008dd1; }
.info .info__inner { position: relative; }
.info .info__icon { position: absolute; right: 0px; }
@media only screen and (max-width: 600px) { .info .info__icon { display: none; } }

.info_about { background-image: -moz-linear-gradient(-34deg, #008dd1 20%, #3959bc); background-image: -webkit-linear-gradient(-34deg, #008dd1 20%, #3959bc); background-image: -ms-linear-gradient(-34deg, #008dd1 20%, #3959bc); }
.info_about .info__inner { background: url(../img/about-in.png) repeat top left; }
@media only screen and (max-width: 600px) { .info_about .info__inner { background: none; } }
.info_about .info__inner p { width: 82%; }
@media only screen and (max-width: 980px) { .info_about .info__inner p { width: 100%; } }

.info_team { background-color: #226ebf; background-image: -moz-linear-gradient(90deg, #266bbe 0%, #0a86c8 100%); background-image: -webkit-linear-gradient(90deg, #266bbe 0%, #0a86c8 100%); background-image: -ms-linear-gradient(90deg, #266bbe 0%, #0a86c8 100%); }
@media only screen and (max-width: 980px) { .info_team .info__inner { padding-top: 100px; } }
.info_team .info__inner p, .info_team .info__inner h3 { width: 80%; }
@media only screen and (max-width: 980px) { .info_team .info__inner p, .info_team .info__inner h3 { width: 100%; } }
.info_team .info__icon { right: -60px; margin-top: -126px; top: 50%; }
@media only screen and (max-width: 980px) { .info_team .info__icon { width: 220px; height: 203px; top: 0; margin-top: 0; right: 0; } }

.info_areas { background-image: -moz-linear-gradient(-34deg, #008dd1 20%, #3959bc); background-image: -webkit-linear-gradient(-34deg, #008dd1 20%, #3959bc); background-image: -ms-linear-gradient(-34deg, #008dd1 20%, #3959bc); }
.info_areas .info__inner { padding-bottom: 0; }
@media only screen and (max-width: 980px) { .info_areas .info__inner { padding-bottom: 80px; } }
@media only screen and (max-width: 600px) { .info_areas .info__inner { padding-bottom: 0; } }
.info_areas .info__inner h2 { width: 75%; }
@media only screen and (max-width: 600px) { .info_areas .info__inner h2 { width: 85%; } }
.info_areas .info__inner p { width: 80%; }
.info_areas .info__icon { right: -20px; top: 60px; }
@media only screen and (max-width: 980px) { .info_areas .info__icon { right: -10px; } }

.info_mission { background-color: #226ebf; }
@media only screen and (max-width: 980px) { .info_mission .info__inner { padding-bottom: 220px; } }
@media only screen and (max-width: 600px) { .info_mission .info__inner { padding-bottom: 110px; } }
.info_mission .info__icon { right: 40px; bottom: 10px; }
@media only screen and (max-width: 980px) { .info_mission .info__icon { bottom: -45px; right: 9px; } }

.item-wrapper { overflow: hidden; font-size: 0px; border-left: 1px solid #4995d4; max-width: 615px; margin: 0 -37px 0 -17px; }
@media only screen and (min-width: 1500px) { .item-wrapper { max-width: 900px; } }
@media only screen and (max-width: 980px) { .item-wrapper { margin: 0 -20px; background: #1b7bc9; max-width: 710px; border-bottom: 1px solid #4995d4; } }
@media only screen and (max-width: 600px) { .item-wrapper { margin: 0 auto; background: none; border-bottom: none; } }

.item { display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 205px; border-bottom: none; position: relative; border-top: 1px solid #4995d4; min-height: 207px; padding: 12px 15px 8px; background: #1b7bc9; }
@media only screen and (min-width: 1500px) { .item { width: 300px; min-height: 270px; } }
@media only screen and (max-width: 980px) { .item { width: 50%; min-height: 280px; padding: 30px 20px 0; } }
@media only screen and (max-width: 600px) { .item { min-height: 207px; padding: 12px 15px 8px; } }
@media only screen and (max-width: 480px) { .item { width: 100%; max-width: 280px; } }
.item:before, .item:after { content: ""; position: absolute; top: 0; width: 1px; height: 1000px; background: #4995d4; }
.item:before { left: -1px; }
.item:after { right: 0; }
.item h6 { font-size: 12px; font-family: "Lato Bold", Arial, sans-serif; text-transform: uppercase; margin-bottom: 10px; }
@media only screen and (min-width: 1500px) { .item h6 { font-size: 16px; margin-bottom: 10px; } }
@media only screen and (max-width: 980px) { .item h6 { font-size: 16px; margin-bottom: 5px; } }
@media only screen and (max-width: 600px) { .item h6 { font-size: 12px; margin-bottom: 10px; } }
.item h6, .item p, .item li { color: white; }
.item li, .item p { font-family: "Lato Regular", Arial, sans-serif; font-size: 12px; line-height: 20px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
@media only screen and (min-width: 1500px) { .item li, .item p { font-size: 16px; line-height: 26px; } }
@media only screen and (max-width: 980px) { .item li, .item p { font-size: 16px; line-height: 26px; } }
@media only screen and (max-width: 600px) { .item li, .item p { font-size: 12px; line-height: 20px; } }
.item li { padding: 0 0 0 10px; position: relative; }
@media only screen and (max-width: 980px) { .item li { padding: 0 0 0 13px; } }
.item li:before { content: ""; position: absolute; top: 8x; left: 0; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; width: 4px; height: 4px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
@media only screen and (min-width: 1500px) { .item li:before { top: 11px; } }
@media only screen and (max-width: 980px) { .item li:before { top: 11px; } }
@media only screen and (max-width: 600px) { .item li:before { top: 8px; } }

.list li { position: relative; font-size: 16px; line-height: 24px; font-family: "Lato Regular", Arial, sans-serif; color: white; margin-bottom: 10px; }
@media only screen and (max-width: 980px) { .list li { font-size: 28px; line-height: 42px; margin-bottom: 18px; } }
@media only screen and (max-width: 600px) { .list li { font-size: 16px; line-height: 24px; margin-bottom: 10px; } }
.list li:before { content: ""; position: absolute; top: 8px; left: -22px; background: url('../img/icons-s1569723651.png') 0 -148px no-repeat; width: 11px; height: 8px; }
@media only screen and (max-width: 980px) { .list li:before { background: url('../img/icons-s1569723651.png') 0 -166px no-repeat; width: 17px; height: 14px; top: 14px; left: -30px; } }
@media only screen and (max-width: 600px) { .list li:before { background: url('../img/icons-s1569723651.png') 0 -148px no-repeat; width: 11px; height: 8px; top: 8px; left: -22px; } }

.tabs { width: 100%; display: none; }
@media only screen and (max-width: 980px) { .tabs { display: table; } }
.tabs a { display: table-cell; width: 50%; font-size: 28px; font-family: "Lato Black", Arial, sans-serif; text-align: center; padding: 25px 0 27px; line-height: 1; }
@media only screen and (max-width: 600px) { .tabs a { font-size: 18px; padding: 15px 0 17px; } }
.tabs a.is-sidebar { color: #008dd1; background: white; }
.tabs a.is-content { color: white; background: #0d87cf; }
@media only screen and (max-width: 900px) { .tabs.is-active { position: fixed; top: 0; left: 0; right: 0; z-index: 999; } }

@media only screen and (max-width: 980px) { .is-hidden { display: none; } }
